POSTGRES_HOST= # "db" by default in DOCKER //  "localhost" in DEVELOPMENT
POSTGRES_PORT= # "5432" by default in "server.config" file
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST= # localhost in DEVELOPMENT // rabbitmq in DOCKER Network
API_GATEWAY_HOST= # http://localhost in DEVELOPMENT // api-gateway in DOCKER
API_GATEWAY_PORT= # 3001 in DOCKER
AUTH_SERVICE_HOST= # by default http://localhost in DEVELOPMENT // auth-service in DOCKER
AUTH_SERVICE_PORT= # 3002 in DOCKER
TASK_SERVICE_HOST= # by default http://localhost in DEVELOPMENT // tasks-service in DOCKER
TASK_SERVICE_PORT= # 3003 in DOCKER